*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #1c2e42;
}

.App {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
}

.paradise-love-contenedor {
   width: 100%;
   display: flex;
   height: 50px;
   margin: 8px;
   justify-content: center;
   align-items: center;
}

.paradise-love-logo {
   height: 160px;
}

.contenedor-calculadora {
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #99c9ff;
   border-radius: 20px;
}

.fila {
   margin: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.boton-contenedor {
   height: 83px;
   display: flex;
   flex: 1 1;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 2.3rem;
   background-color: #1b1b32;
   color: #fff;
   border-radius: 25px;
   border: 2px solid #fff;
   margin: 4px;
   cursor: pointer;
   user-select: none;
}

.boton-contenedor:hover {
   background-color: #5a01a7;
}

.operador {
   background-color: #00471b;
}

.operador:hover {
   background-color: #ff6600;
}

.input {
   height: 75px;
   border-radius: 50px;
   margin-bottom: 20px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-weight: bold;
   font-size: 30px;
   background-color: #0a0a23;
   color: #fff;
   padding: 11px 30px 11px 11px;
   box-shadow: -1px 4px 1px 1px #fff;
}

.boton-clear {
   height: 80px;
   font-size: 1.6rem;
   display: flex;
   flex: 1;
   background-color: #ac0246;
   margin-top: 8px;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 45px;
   cursor: pointer;
   user-select: none;
}

.boton-clear:hover {
   background-color: #ebb000;
}
